{% extends 'base.html'  %}


{% block content %}

<div class="col-md-6 offset-md-3">
    <br>
    {% if user.is_authenticated %}

    <h2>Welcome to Django Project</h2>

    {% else %}
<h2>Login</h2>
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        
        <input type="text" class="form-control"   name="username" placeholder="Enter a User Name" required>
        
      </div>
      <div class="mb-3">
        
        <input type="password" class="form-control" placeholder="Enter a Password" name="password"  required>
      </div>
      
      <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endif %}
</div>

{%  endblock %}